.inventory {
    margin: 2rem auto;
    max-width: 520px;

}
.top-panel {
    margin: 1rem 0;
}
.item-add{
    margin-top: 3px
}
.inventory-header {
    align-items: flex-end;
}

h1 {
    flex-grow: 1;
}

h2 {
    font-size: 1.1rem;
    color:rgb(0, 153, 255)89);
}